<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634220539093-5egq6to3ot5jv0e01gb7aves515nkhg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634220539093-5egq6to3ot5jv0e01gb7aves515nkhg0</string>
	<key>API_KEY</key>
	<string>AIzaSyCsJJxfTKOPHIjjcScy7apJTZMgKWMMbB0</string>
	<key>GCM_SENDER_ID</key>
	<string>634220539093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techMedia</string>
	<key>PROJECT_ID</key>
	<string>chat-f7fef</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-f7fef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634220539093:ios:6f987acf85b1bd7868c65c</string>
</dict>
</plist>